.c1 {
  background-color: #180018;
}

.c2 {
  background-color: #2d2d37;
}

.c3 {
  background-color: #41414b;
}

.c4 {
  background-color: #4b4b55;
}

.c5 {
  background-color: #657b83;
}

.c6 {
  background-color: #787882;
}

.c7 {
  background-color: #839496;
}

.c8 {
  background-color: #b4b4a5;
}

.c9 {
  background-color: #c8b700;
}

.c10 {
  background-color: #ffee00;
}

.c11 {
  background-color: #ffff55;
}

