<div id="Header">
    <div id="Titles">
        <h1 class="text-pull" >{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
        {% if page.subtitle %}<h4 class="text-pull" style="margin-top: -1em;">{{ page.subtitle }}</h4>{% endif %}
    </div>
    <!-- <div id="NavMobile" class="block-row-xxs-{{ site.roots | size }} text-center"> -->
    <div id="NavMobile" class="text-pull">
        {% for r in site.roots %}
        {% if r.url and r.label %}
        <a href="{{ site.url }}/{{ r.url }}" {% if r.label == root %}class="active"{% endif %}>{{ r.label }}</a>
        {% elsif r %}
        <a href="{{ site.url }}/{{ r }}" {% if r == root %}class="active"{% endif %}>{{ r }}</a>
        {% endif %}
        {% endfor %}
    </div>
</div>
