<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" -->

<link rel="stylesheet" href="/assets/style/responsive.min.css">
<link rel="stylesheet" href="/main.css">

<title>{% if page.title %}{{ page.title | escape }} // {% endif %}{{ site.title | escape }}</title>

<script type="text/javascript" src="/{{site.script_dir}}/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/{{site.script_dir}}/responsive.min.js"></script>
<script type="text/javascript" src="/{{site.script_dir}}/nav.js"></script>
<script type="text/javascript" src="/{{site.script_dir}}/main.js"></script>
{% if page.script %}
<script type="text/javascript" src="{{ site.script_dir }}/{{ page.script }}"></script>
{% endif %}

{% if page.style %}
{% if site.style_dir %}<link rel="stylesheet" href="{{ site.style_dir }}/{{ page.style }}">
{% else %}<link rel="stylesheet" href="{{ page.style }}">{% endif %}
{% endif %}

<!-- link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}" -->
<!-- link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}" -->
