<div id="Header">
    <h1 class="text-pull" style="padding-left: 1.5em;">{{ page.title }}</h1>
    <!-- <div id="NavMobile" class="block-row-xxs-{{ site.roots | size }} text-center"> -->
    <div id="NavMobile" class="text-pull">
        {% for r in site.roots %}
        {% if r.url and r.label %}
        <a href="{{ site.url }}/{{ r.url }}" {% if r.label == root %}class="active"{% endif %}>{{ r.label }}</a>
        {% elsif r %}
        <a href="{{ site.url }}/{{ r }}" {% if r == root %}class="active"{% endif %}>{{ r }}</a>
        {% endif %}
        {% endfor %}
    </div>
</div>
