$gutter-color: rgb(28, 20, 20);
$bg-color: rgb(43, 18, 20);

$primary:   rgb(228, 27, 103);
$secondary: rgb(163, 2, 63);

$text-color: white;

$anchor-color:   $col-hilt-mid;
$anchor-visited: darken($anchor-color, 15%);
$anchor-active:  $anchor-visited;
$anchor-hover:   $col-hilt-high;

$navlink-color:  $col-hilt-mid;
$navlink-hover:  lighten($navlink-color, 15%);
$navlink-active: lighten($navlink-color, 30%);
