/**
body {
  background-color: $gutter-color;
  color: $text-color;
}

.container {
  // give a little room to the main container
  padding-left: 5%;
  padding-right: 5%;

  max-width: 900px;

  box-shadow: 0px 4px 4px rgba($anchor-color, 0.2);

  background-color: $bg-color;
}

.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}
**/

body {
  background-color: $gutter-color;
  color: $text-color;
}

#Main {
  background-color: $bg-color;

  .row {
    margin: inherit;
  }
}

#Header {
  border-bottom: 2px solid white;
}

#Content {
}

#Footer {
  padding: 2em;
}

a {
  // don't decorate links
  text-decoration: none;

  &:link {
    color: $anchor-color;
  }

  &:visited {
    color: $anchor-visited;
  }

  &:hover {
    color: $anchor-hover;
    text-decoration: underline;
  }

  &:active {
    color: $anchor-active;
  }
}
