$col-rune: #2d2d37;
$col-hilt-low: #9f6a02;
$col-hilt-mid: #e4a71b;
$col-hilt-high: #fdc34a;

.c1 {
  background-color: $col-rune;
}

.c2 {
  background-color: #454158;
}

.c3 {
  background-color: #4b4b55;
}

.c4 {
  background-color: #555164;
}

.c5 {
  background-color: #5c5c8a;
}

.c6 {
  background-color: $col-hilt-low;
}

.c7 {
  background-color: #abb9d1;
}

.c8 {
  background-color: #d5e0e5;
}

.c9 {
  background-color: $col-hilt-mid;
}

.c10 {
  background-color: #f5f9f7;
}

.c11 {
  background-color: #fafffa;
}

.c12 {
  background-color: #fdc34a;
}
