$px-size-m: 5px;
$px-size-s: 4px;
$px-size-xs: 3px;
$nav-w: 50;
$nav-h: 98;

#NavMobile {
  display: none;
}

@media screen and (max-width: 599px) {
  #Nav {
    display: none;
  }

  #NavMobile {
    display: block;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  #Nav {
    width: $nav-w*$px-size-xs;
    max-height: $nav-h*$px-size-xs;
  }

  .px {
    min-width: $px-size-xs;
    min-height: $px-size-xs;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  #Nav {
    width: $nav-w*$px-size-s;
    max-height: $nav-h*$px-size-s;
  }

  .px {
    min-width: $px-size-s;
    min-height: $px-size-s;
  }
}

@media screen and (min-width: 1000px) {
  #Nav {
    width: $nav-w*$px-size-m;
    max-height: $nav-h*$px-size-m;
  }

  .px {
    min-width: $px-size-m;
    min-height: $px-size-m;
  }
}

#Nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.rune.active {
  background-color: red;
}
