#RecentPosts {
  .posts_list {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

.post_preview {
  h3 {
    margin-bottom: 0;
  }

  h5 {
    margin-top: 0.1em;
    margin-bottom: 0.4em;
  }
}
