<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    <head>
        {% include head.html %}
    </head>

    <body>
        {% if page.root %}{% assign root=page.root %}
        {% elsif layout.root %}{% assign root=layout.root %}
        {% else %}{% capture root %}{{ page.path | split: '/' | first }}{% endcapture %}
        {% endif %}

        <!-- <div id="HG" class="container"> -->
        <div id="Main" class="container">
            <div class="row equal-height no-gutter">
                <div class="col-xs-3">
                    {% include nav.html root=root %}
                </div>
                <div class="col-xxs-12 col-xs-8">
                    <div class="row">
                        {% include header.html %}
                    </div>
                    <div class="row">
                        <div id="Content">
                            {{ content }}
                        </div>
                    </div>
                </div>
            </div>
            <div>
                {% include footer.html %}
            </div>
        </div>
    </body>

</html>
